.tag{
    display: inline-block;
    padding: .25rem .25rem;
    font-size: .75rem;
    color: rgb(225, 225, 233);
    background: rgb(170,170,181);
    margin-right: .5rem;
    border-radius: 4px;
  
}

